.b-cover-section {
  padding-top: 100px;
  padding-bottom: 150px;
  min-height: 100vh;
  background: #3695ff url("../images/cover-section-bg.jpg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
.b-cover-section .content-size {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.b-cover-section .cover-section-avatar {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 22px rgba(255, 255, 255, .06), 0 0 0 12px rgba(255, 255, 255, .09), 0 0 0 3px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 0 0 22px rgba(255, 255, 255, .06), 0 0 0 12px rgba(255, 255, 255, .09), 0 0 0 3px rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 22px rgba(255, 255, 255, .06), 0 0 0 12px rgba(255, 255, 255, .09), 0 0 0 3px rgba(255, 255, 255, 1);
}
.b-cover-section .cover-section-avatar img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}
