html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: '';
  content: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  font: 100%/1.2 'Lato', Arial, sans-serif;
  color: #000;
  background: #fff;
}
body {
  position: relative;
  min-height: 100%;
  min-width: 320px;
  height: auto !important;
}
input,
button,
a,
textarea {
  outline: none;
  resize: none;
}
textarea,
input[type="text"] {
  -webkit-appearance: none;
}
* {
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}
.content-size {
  max-width: 1170px;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-black-webfont.eot');
  src: url('../fonts/lato-black-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-black-webfont.woff2') format('woff2'), url('../fonts/lato-black-webfont.woff') format('woff'), url('../fonts/lato-black-webfont.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-bold-webfont.eot');
  src: url('../fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bold-webfont.woff2') format('woff2'), url('../fonts/lato-bold-webfont.woff') format('woff'), url('../fonts/lato-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-light-webfont.eot');
  src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-light-webfont.woff2') format('woff2'), url('../fonts/lato-light-webfont.woff') format('woff'), url('../fonts/lato-light-webfont.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-regular-webfont.eot');
  src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-regular-webfont.woff2') format('woff2'), url('../fonts/lato-regular-webfont.woff') format('woff'), url('../fonts/lato-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.b-btn {
  display: inline-block;
  min-width: 204px;
  padding-left: 16px;
  padding-right: 16px;
  height: 54px;
  font-size: 16px;
  font-weight: bold;
  line-height: 54px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-sizing: border-box;
  border-radius: 27px;
  cursor: pointer;
  outline: none;
  -webkit-transition: background-color .28s ease, color .28s ease;
  -moz-transition: background-color .28s ease, color .28s ease;
  -ms-transition: background-color .28s ease, color .28s ease;
  -o-transition: background-color .28s ease, color .28s ease;
  transition: background-color .28s ease, color .28s ease;
}
.b-btn._white {
  background-color: #fff;
  color: #3695ff;
}
.b-btn._white:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.b-cover-section {
  background: #3695ff url("../images/cover-section-bg.jpg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
.b-cover-section .content-size {
  position: relative;
  padding-top: 100px;
  padding-bottom: 140px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.b-cover-section .cover-section-avatar {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 0 22px rgba(255, 255, 255, .06), 0 0 0 12px rgba(255, 255, 255, .09), 0 0 0 3px rgba(255, 255, 255, 1);
  -moz-box-shadow: 0 0 0 22px rgba(255, 255, 255, .06), 0 0 0 12px rgba(255, 255, 255, .09), 0 0 0 3px rgba(255, 255, 255, 1);
  box-shadow: 0 0 0 22px rgba(255, 255, 255, .06), 0 0 0 12px rgba(255, 255, 255, .09), 0 0 0 3px rgba(255, 255, 255, 1);
}
.b-cover-section .cover-section-avatar img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}
.b-cover-section .cover-section-caption {
  margin-top: 60px;
  font-size: 50px;
  line-height: 60px;
  font-weight: 900;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.b-cover-section .cover-section-button {
  margin-top: 70px;
  text-align: center;
}
.b-cover-section .cover-section-arrow {
  position: absolute;
  left: 50%;
  bottom: 24px;
  margin-left: -10px;
  width: 20px;
  height: 32px;
  opacity: .2;
  background: url("../images/svg/arrow-down.svg") no-repeat center;
}
.b-about-section {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #f1f8ff;
}
.b-about-section .about-caption {
  font: 300 50px/1 'Lato', Arial, sans-serif;
  color: #3677fd;
  text-align: center;
}
.b-about-section .about-text {
  margin-top: 56px;
  font: 16px/32px 'Lato', Arial, sans-serif;
  color: #5a5a5a;
  text-align: center;
}
.b-portfolio-section {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #fff;
}
.b-portfolio-section .portfolio-caption {
  font: 300 50px/1 'Lato', Arial, sans-serif;
  color: #3677fd;
  text-align: center;
}
.b-portfolio-section .portfolio-list {
  padding-top: 40px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: flex-start;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.b-portfolio-section .portfolio-list-item {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  margin-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(33.33333333%);
  box-sizing: border-box;
}
.b-portfolio-section .portfolio-list-item-link {
  display: block;
  height: 270px;
  background-color: #f4f4f4;
  border-radius: 10px;
  -webkit-transition: all 0.28s ease;
  -moz-transition: all 0.28s ease;
  -ms-transition: all 0.28s ease;
  -o-transition: all 0.28s ease;
  transition: all 0.28s ease;
}
.b-clients-section {
  padding-top: 90px;
  padding-bottom: 100px;
  background-color: #f1f8ff;
}
.b-clients-section .clients-caption {
  font: 300 50px/1 'Lato', Arial, sans-serif;
  color: #3677fd;
  text-align: center;
}
.b-clients-section .clients-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
.b-clients-section .clients-list-item {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
.b-footer {
  background: #3695ff url("../images/cover-section-bg.jpg") no-repeat center;
  background-size: cover;
  box-sizing: border-box;
}
.b-footer .content-size {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  height: 250px;
}
.b-footer .footer-caption {
  font: 300 40px/1 'Lato', Arial, sans-serif;
  color: #fff;
}
.b-footer .footer-caption strong {
  font-weight: 500;
}
.b-footer .b-btn {
  margin-left: 50px;
}
