@font-face {
    font-family: 'PTSansItalic';
    src: url('pts56f.eot');
    src: url('pts56f.eot') format('embedded-opentype'),
         url('pts56f.woff') format('woff'),
         url('pts56f.ttf') format('truetype'),
         url('pts56f.svg#PTSansItalic') format('svg');
}
