@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pts55f.eot');
    src: url('../fonts/pts55f.eot') format('embedded-opentype'),
         url('../fonts/pts55f.woff') format('woff'),
         url('../fonts/pts55f.ttf') format('truetype');
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pts75f.eot');
    src: url('../fonts/pts75f.eot') format('embedded-opentype'),
         url('../fonts/pts75f.woff') format('woff'),
         url('../fonts/pts75f.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'PT Sans';
    src: url('../fonts/pts56f.eot');
    src: url('../fonts/pts56f.eot') format('embedded-opentype'),
         url('../fonts/pts56f.woff') format('woff'),
         url('../fonts/pts56f.ttf') format('truetype');
         font-style: italic;
}

@font-face {
    font-family: 'PT Serif';
    src: url('../fonts/pt_serif-web-bold.eot');
    src: url('../fonts/pt_serif-web-bold.eot') format('embedded-opentype'),
         url('../fonts/pt_serif-web-bold.woff') format('woff'),
         url('../fonts/pt_serif-web-bold.ttf') format('truetype');
    font-weight: bold;
}

body {
	background: url('../images/body-bg.png');
}

.b-page-wrapper {
	width: 1181px;
	position: relative;
	margin: 0 auto;
	padding: 8px 9px 0;
	border-top: 2px solid #000;
}

.b-page-wrapper.login {
	-webkit-filter: blur(1px);
	filter: blur(2px);
}

.page-label {
	float: left;
	text-transform: uppercase;
	font: 17px/17px 'PT Sans', sans-serif;
	font-weight: bold;
	text-decoration: none;
	color: #000;
}

.log-in,
.log-in-cancel {
	float: right;
	text-decoration: none;
	color: #666;
	font: 14px 'PT Sans', sans-serif;
	border-bottom: 1px #666 dotted;
	margin: 4px 0 0 0;
	cursor: pointer;
}

.user-menu {
	padding: 0 0 0 9px;
	float: right;
	width: 108px;
	height: 21px;
	border: 1px solid #a6a6a6;
	overflow: hidden;
	border-radius: 10px;
	 -webkit-transition: all 0.5s ease;
	background: #fefefe; 
	background: -moz-linear-gradient(top, #fefefe 0%, #dbdbdb 95%, #bebebe 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(95%,#dbdbdb), color-stop(100%,#bebebe));
	background: -webkit-linear-gradient(top, #fefefe 0%,#dbdbdb 95%,#bebebe 100%); 
	background: -o-linear-gradient(top, #fefefe 0%,#dbdbdb 95%,#bebebe 100%); 
	background: -ms-linear-gradient(top, #fefefe 0%,#dbdbdb 95%,#bebebe 100%); 
	background: linear-gradient(to bottom, #fefefe 0%,#dbdbdb 95%,#bebebe 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#bebebe',GradientType=0 ); 
}

.user-menu:hover {
	height: 105px;
}

.user-menu .user-name {
	font: 14px/20px 'PT Sans', sans-serif;
	text-shadow: 1px 1px 2px #fff;
	color: #666;
}

.user-menu .user-name .arrow {
	font-size: 9px;
}

.user-menu .user-menu-items {
	margin: 6px 0 0 17px;
	padding: 0;
}

.user-menu .user-menu-items .user-menu-item {
	height: 23px;
	padding: 0;
	display: block;
}

.user-menu .user-menu-items .user-menu-item a {
	color: #666;
	font: 14px 'PT Sans', sans-serif;
}

.navigation-items {
	margin: 0 0 0 390px;
	padding: 0;
}

.navigation-items .navigation-item {
	display:inline-block;
	padding: 0 15px 0 0;
}

.navigation-items .navigation-item a {
	font: 14px/16px 'PT Sans', sans-serif;
	color: #003366;
}

.navigation-items .navigation-item.active {
	font: 14px/16px 'PT Sans', sans-serif;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.b-page-header {
	width: 800px;
	padding: 68px 0 0 0;
	height: 232px;
	text-align: center;
	margin: 0 auto;
}

.b-page-header .page-head {
	font: 72px 'PT Serif', serif;
	margin: 0;
	font-weight: bold;
}

.b-page-header .page-header-title {
	font: 18px/28px 'PT Sans', sans-serif;
}

.b-page-header .page-header-title  .dotted {
	background: url('../images/dotted.png') no-repeat center center;
	display: inline-block;
	width: 8px;
	height: 10px;
}

.b-page-content {
	width: 800px;
	margin: 0 auto;
}

.news-items {
	padding: 0 0 82px 0;
}

.news-item {
	position: relative;
	margin: 10px 0 56px 0;
}

.news-item-image {
	float: left;
}

.news-item-content {
	padding: 0 0 0 200px;
}

.news-item-header a{
	font: 18px/21px 'PT Sans', sans-serif;
	margin: 0;
	color: #000;
}

.news-item-description {
	margin: 7px 0 0 0;
	font: 14px 'PT Sans', sans-serif;
}

.news-article {
	padding: 100px 0 72px 0;
}

.news-article .news-note {
	font: 10px/16px 'Verdana', sans-serif;
	color: #666;
	float: left;
	width: 179px;
	padding: 120px 0 0 0;
}

.news-article .news-note .news-note-image {
	width: 179px;
	margin: 0 0 16px 0;
}

.news-article .news-body {
	width: 600px;
	float: right;
}

.news-article .news-body .news-header {
	margin: 0 0 57px 0;
	font: 24px 'PT Sans', sans-serif;
	font-weight: bold;
}

.news-article .news-body .news-content {
	font: 14px/18px 'PT Sans', sans-serif;
	color: #333;
}

.news-article .news-body .news-content a {
	color: #003366;
}

.other-news {
	padding: 0 0 24px 0;
	border-top: 3px solid  #b1b1b1;
}

.other-news .other-news-header {
	width: 179px;
	float: left;
	padding: 8px 0 0 0;
	font: 14px/18px 'PT Sans', sans-serif;
	font-weight: bold;
}

.other-news .other-news-items .other-news-item {
	float: left;
	width: 187px;
	padding: 4px 0 0 20px;
	display: block;
}

.other-news .other-news-items .other-news-item .other-news-link {
	font: 14px 'PT Sans', sans-serif;
	margin: 8px 0 0 0;
}

.other-news .other-news-items .other-news-item .other-news-prewiev {
	font: 12px/16px 'PT Sans', sans-serif;
	margin: 7px 0 0 0;
	color: #333333;
}

.copyright {
	margin: 0;
	font: 12px 'PT Sans', sans-serif;
	color: #666;
}

.b-genre-label {
	height: 22px;
	padding: 0 6px;
	color: #fff;
	font: 14px/25px 'PT Sans', sans-serif;
	font-style: italic;
	text-align: center;
	position: absolute;
	top: -10px;
	left: -40px;
}

.b-genre-label.scandal {
	background: #ff6666;
}


.b-genre-label.intrigue  {
	background: #99cc66;
}


.b-genre-label.investigation {
	background: #6699cc;
}


.b-page-footer {
	width: 800px;
	height: 94px;
	padding: 13px 0 0 3px;
	margin: 0 auto;
	border-top: 1px solid #8f8f8f;
}

.b-login-layer {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: url('../images/login-bg.png');
	display: none;
}

.login-window {
	position: fixed;
	padding: 36px 0 0 64px;
	top: 50%;
	left: 50%;
	margin: -115px 0 0 -178px;
	width: 310px;
	height: 173px;
	background: #fff;
	box-shadow: 1px 0px 40px 7px #000;
}

.login-buttons {
	margin: 23px 0 0 0;
	width: 127px;
}

.login-window .login-input {
	width: 240px;
	margin: 20px 0 0 0;
	font: 14px/22px 'PT Sans', sans-serif;
}


