.b-page-wrapper {
	width: 1181px;
	position: relative;
	margin: 0 auto;
	padding: 13px 9px 0;
}

.page-label {
	float: left;
	text-transform: uppercase;
	font: 24px 'PT Sans', sans-serif;
	font-weight: bold;
}

.log-in {
	float: right;
	text-decoration: none;
	color: #666666;
	font: 14px 'PT Sans', sans-serif;
	border-bottom: 1px #666 dotted;
}

.b-page-header {
	width: 841px;
	padding: 88px 0 0 0;
	height: 208px;
	text-align: center;
	margin: 0 auto;
}

.b-page-header .page-head {
	font: 72px 'PT Serif', serif;
	margin: 0;
	font-weight: bold;
}

.b-page-header .page-header-title {
	font: 18px 'PT Sans', sans-serif;
}

.b-page-header .page-header-title  .dotted {
	background: url('../images/dott.png') no-repeat center center;
	display: inline-block;
	width: 8px;
	height: 10px;
}


.b-page-header {
	width: 841px;
	margin: 0 auto;
}

.b-page-content {
	width: 841px;
	margin: 0 auto;
}

.news-item {
	position: relative;
	margin: 10px 0 46px 0;
}

.news-item-image {
	float: left;
	margin: 0 0 0 42px;
}

.news-item-content {
	padding: 0 0 0 242px;
}

.news-item-header {
	font: 18px 'PT Sans', sans-serif;
	margin: 0;
	text-decoration: underline;
}

.news-item-description {
	margin: 10px 0 0 0;
	font: 14px 'PT Sans', sans-serif;
}
