.b-page-wrapper {
	width: 1181px;
	position: relative;
	margin: 0 auto;
	padding: 10px 9px 0;
}

.page-label {
	float: left;
	text-transform: uppercase;
	font: 17px 'PT Sans', sans-serif;
	font-weight: bold;
}

.log-in {
	float: right;
	text-decoration: none;
	color: #666666;
	font: 14px 'PT Sans', sans-serif;
	border-bottom: 1px #666 dotted;
	margin: 4px 0 0 0;
}

.b-page-header {
	width: 841px;
	padding: 68px 0 0 0;
	height: 232px;
	text-align: center;
	margin: 0 auto;
}

.b-page-header .page-head {
	font: 72px 'PT Serif', serif;
	margin: 0;
	font-weight: bold;
}

.b-page-header .page-header-title {
	font: 18px/28px 'PT Sans', sans-serif;
}

.b-page-header .page-header-title  .dotted {
	background: url('../images/dott.png') no-repeat center center;
	display: inline-block;
	width: 8px;
	height: 10px;
}

.b-page-content {
	width: 841px;
	margin: 0 auto;
}

.news-item {
	position: relative;
	margin: 10px 0 54px 0;
}

.news-item-image {
	float: left;
	margin: 0 0 0 38px;
}

.news-item-content {
	padding: 0 0 0 238px;
}

.news-item-header {
	font: 18px 'PT Sans', sans-serif;
	margin: 0;
	text-decoration: underline;
}

.news-item-description {
	margin: 3px 0 0 0;
	font: 14px 'PT Sans', sans-serif;
}

.b-page-footer {
	width: 841px;
	height: 94px;
	padding: 14px 0 0 0;
	margin: 93px auto 0;
	border-top: 1px solid #8f8f8f;
}


.copyright {
	font: 12px 'PT Sans', sans-serif;
	color: #666666;
}